<div class="row">
    @if(isLoader == true){
          <div class="col-12 text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    } @else {
            @for(item of designationList; track $index) {
    <div class="col-3">
        <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.designation}}</h5>
      <a href="#" class="card-link">Edit</a>
      <a href="#" class="card-link">Delete</a>
    </div>
  </div>
    </div>
}
    }
  

</div>
